@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <img class="rounded" src="@getAvatarUrl(context)" />

                    <strong class="m-1">Hello, @context?.User?.Identity?.Name!</strong>

                    <a href="@AuthDefaults.LogOutPath">Sign out</a>

                    @* In this way, the sign-out is not happening on Auth0
                    <form method="post" action="@AuthDefaults.LogOutPath">
                        <AntiForgeryTokenInput />
                        <button class="btn btn-link" type="submit">Sign out (App)</button>
                    </form>*@
                </Authorized>
                <NotAuthorized>
                    <a href="@AuthDefaults.LogInPath">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private const string _defaultAvatarUrl = "https://www.gravatar.com/avatar/nopicture?d=monsterid&s=50";

    private string getAvatarUrl(AuthenticationState state)
    {
        Claim? claim = state?.User?.Claims.FirstOrDefault(c => c.Type == "picture");

        return claim is null ? _defaultAvatarUrl : claim.Value;
    }
}