@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;

@inject NavigationManager _navigation

<AuthorizeView>
    <Authorized>
        <img class="rounded m-1" style="max-width: 50px; max-height: 50px;" src="@getAvatarUrl(context)" />
        <b>Hello, @context.User.Identity?.Name!</b>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private const string _defaultAvatarUrl = "https://www.gravatar.com/avatar/nopicture?d=monsterid&s=50";

    private string getAvatarUrl(AuthenticationState state)
    {
        Claim? claim = state?.User?.Claims.FirstOrDefault(c => c.Type == "picture");

        return claim is null ? _defaultAvatarUrl : claim.Value;
    }

    private void BeginLogOut()
    {
        _navigation.NavigateToLogout("authentication/logout");
    }
}
